<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }} - {{ config.name }}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <meta name="author" content="{{ config.author.name }}" />
  <meta name="description" content="{{ meta.description }}" />
  <meta name="keywords"  content="{{ meta.keywords }}" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="shortcut icon" href="themes/{{theme}}/favicon.ico">
  <link rel="stylesheet" href="themes/{{theme}}/css/style.min.css">
</head>
<body>
  {{> nav--primary }}
  <section class="hero">
    hero Image blah
  </section>
  <section class="main-content">
   {{> body }}
  </section>
  {{> footer }}
</body>
</html>
